#nav {
        text-align: right;
	float: right;
	right: 6em;
        top: 4em;
	width: 1000px;
	height: 300px
        border: 25px; 
	padding: 25px;
        margin: 25px;
	background-color: #a78555;
}

.navItem {
	color: #49352A;
        background-color: ;
        padding: .5em .5em 0.5em;
        font-size: 1em;
        font-weight: bolder;
        text-decoration: none;
        margin: .2em;
        border-radius: 5px;
}

.navItem:hover, .navItem:focus {
        background-color: #f9f2eb;
}

.active {
        color: #003399;
}
